
#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars


# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json


#Sensetive Info
*private*
*.hcl
*.log
*.bak
*.backup
*.exe
*.dll
*.DS_Store
*.swp
*.ENV
# Ignore CLI configuration files
.terraformrc
terraform.rc

# tf lock file
.terraform.lock.hcl
#VIM Junk
*.un~
